@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


/*Limpar formatações padrão*/

:root
{
    --cor01: #243A73;
    --cor02: #A5BECC;
    --cor03: #F2EBE9;
    --cor04: #7C3E66;

    --fontelogo: 'Roboto Condensed', sans-serif;
    --fontemenu: 'Nanum Gothic', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
body
{
    font-size: 1em;
    background-color: aliceblue;
}
#topo
{
    background-color: #A5BECC;
    padding: 15px;
    text-align: center;
}
#logo
{
    padding: 15px;
}
#menu
{
    padding: 10px;
    font-family: var(--fontemenu);
    font-weight: bold;
}
a
{
    text-decoration: none;
}
a:link, a:visited
{
    color: #243A73;
    padding: 8px 12px;
}
a:hover
{
    color: #7C3E66;
    background: #F2EBE9;
}

h1
{
    color: #243A73;
    font-size: 3em;
    font-family: var(--fontelogo);
}
.roxo
{
    color: var(--cor04);

}
#principal
{

    width: 920px;
    margin: 0 auto;
    padding: 15px;
   
}
#conteudo
{
    background: #F2EBE9;
    width: 660px;
    border-radius: 15px;
    float: left;

}
.postagem
{
    padding: 20px;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.postagem h2
{
    text-align: center;
    padding: 10px;
}
.postagem span
{
   font-size: 0.8em;
   color: #7C3E66;
   padding: 6px;
}
.postagem p
{
    text-align: justify;
    padding: 15px;
    padding-bottom: 20px;
}
.postagem a 
{
    border: 1px solid var(--cor02);
    border-radius: 15px;
    font-size: 0.8em;
    position: relative;
    float: right;
    
}
#barra-lateral
{
    background: #F2EBE9;
    width: 240px;
    float: right;
    border-radius: 15px;
    
}
.recente
{
    padding: 15px;
    
}
.recente h3
{   
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #A5BECC;
    color: #7C3E66;
}
.recente p
{
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
}
.recente a
{
    padding: 12px;
}
hr
{
   margin-top: 15px; 
    
}
.categorias
{
    padding: 15px;
}
.categorias h3
{
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #A5BECC;
    color: #7C3E66;
}
.assuntos li
{
    list-style-type: none;

}
.assuntos a
{
    padding: 1.5px;
}




#rodape
{   
    clear: both;
    text-align: center;
    padding: 15px;
    background: #A5BECC;
    
}