@charset "UTF-8";

body{
   margin: 0;
   padding: 0;
}
.logo
{
    padding: 20px;
   
}
header{
    max-width: 800px;
    text-align: center;
    height: 100px;
}
nav
{
    display: flex;
    position: fixed;
    margin-top: -100px;
}
.menu{
    padding: 0;
    margin-bottom: 0;
    display: inline-block;
    float: right;
}
.menu ul
{
    list-style-type: none;
}
.menu li
{
    float: right;
    padding: 10px;
}
.menu li a
{
    display: flex;
    text-align: end;
    text-decoration: none;
}
.capa
{
    text-align: center;
}
main
{
    max-width: 800px;
    margin: auto;
    
}
main h2
{
    text-align: center;
    color: rgb(11, 11, 78);
}
main p
{
    text-align: justify;
    padding-bottom: 40px;
}
footer
{
    background-color: rgb(11, 11, 78);
    color: white;
    padding: 1px;
    text-align: center;
}




