@charset "UTF-8";

*
{
  margin: 0;
  padding: 0;
}
body
{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #fff url("../imagens/fundo.png") repeat-x ;
}
#container
{
  width: 750px;
  margin: 0 auto;
  padding: ;
  border: 1px solid red;
}
#topo
{
  height: 150px;
  background: url("../imagens/detalhe-topo.png") no-repeat right top ;
  padding-top: 20px;
}
.logo
{
  width: 152px;
  height: 66px;
  background: url("../imagens/logo.png");
  text-indent: -3000px;
}