@charset "UTF-8";


body
{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
fieldset
{ 
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #ccc;
  background: #f8f8f8;
}
legend
{
  font-weight: bold;
}
label
{
  cursor: pointer;
  display: block;

}
input [type= "texto"]
{
  width: 20em;
}
textarea
{
  width: 20em;
  height: 10em;
}
