@charset "UTF-8";

.conteudo1
{
    border: 2px solid rgb(241, 48, 48);
    background-color: lightcoral; 
    width: 200px;   
    height: 200px;
    position: absolute;
    z-index: 1;
}
.conteudo2
{
    border: 2px solid cornflowerblue;
    background-color: lightblue; 
    width: 200px;   
    height: 200px;
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: 2;
}
.conteudo3
{
    border: 2px solid rgba(35, 160, 35, 0.603);
    background-color: lightgreen; 
    width: 200px;   
    height: 200px;
    position: absolute;
    top: 160px;
    left: 160px;
    z-index: ;
}