@charset "UTF-8";

header
{
  border: 1ps solid #ccc;
  background: #f2f2f2;
  padding: 10px;
}
nav
{
  border: 2px solid lightblue;
  background: rgb(226, 239, 247);
  padding: 10px;
}
article
{
  background: lightgreen;
}
section
{
  border: 2px dotted orange;
  padding: 10px;
}

footer{
  background: lavenderblush;
}
aside{
  background: lightgoldenrodyellow;
}